.cartDiv {
  position: relative;
  top: 200px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 200px;
}

.cartedItemImage {
  max-width: 250px;
}
.cartedItemTitle {
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cartedItemDescription {
  padding: 0px 20px;
}
.cartedItemDescription > h4 {
  color: #0387789e;
}
.cartedItemDiv {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.total {
  display: flex;
  justify-content: space-between;
}
#price {
  margin-top: 16px;
}
button {
  width: 5%;
  padding: 0px 20px !important;
}
hr {
  width: 100%;
  margin-top: 50px;
}

.checkOutButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.removeAllWrapper {
  margin-bottom: 0px !important;
  width: 375px;
  align-self: center;
}
.removeAllDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.removeAll {
  background-color: rgb(115, 115, 115);
}

@media (max-width: 1000px) {
  .cartDiv {
    padding: 0px 100px;
  }
}
@media (max-width: 700px) {
  h2 {
    font-size: 35px;
  }
  .cartDiv {
    padding: 0px 5px;
  }
}
@media (max-width: 550px) {
  h2 {
    font-size: 30px;
  }
  .cartedItemDiv {
    flex-direction: column;
  }
  img {
    padding: 20px;
    max-width: 100% !important;
    align-self: center;
  }
  .price2 {
    margin-left: 20px;
  }
  h2 {
    margin-left: 20px;
  }
}
