.bestSellersDiv {
  position: relative;
  top: 190px;
  margin-top: 0px;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
}
h2 {
  font-size: 38px;
  margin-bottom: 10px;
}
h3 {
  opacity: 0.8;
}
